.card {
  font-family: "Goldman", cursive;
  padding: 30px 30px 0px 30px;
  margin: 50px 250px;
  border-radius: 10px;
}

.description-list {
  list-style: none;
}

.current-temp {
  font-size: 120px;
  position: relative;
  top: 20px;
  left: 40px;
}
.degree-symbol {
  font-size: 20px;
  position: relative;
  top: -110px;
  left: 210px;
  z-index: 9999999;
}

.active {
  cursor: default;
  color: black;
  text-decoration: none;
}

.active:hover {
  cursor: default;
  color: black;
  text-decoration: none;
}

.current-weather {
  font-size: 200px;

  text-align: center;
  position: relative;
  margin-bottom: 0;
  top: -340px;
  left: 20px;
}
.current-city {
  font-size: 25px;
  position: relative;
  top: -50px;
  left: 20px;
}

.current-description {
  text-transform: capitalize;
}

.current-time {
  position: relative;
  left: 0;
}

.weather-details {
  font-size: 15px;
  text-align: right;
  list-style: none;
  position: relative;
  top: -370px;
  left: -270px;
}
.row {
  text-align: center;
  font-size: 18px;
  margin: 0;
  position: relative;
  top: -170px;
  left: 0;
}

.forecast-temperatures {
  font-size: 15px;
}

.forecast-temp-max {
  font-weight: bolder;
}

.forecast-temp-min {
  font-weight: lighter;
}

.weekly-temp {
  font-size: 15px;
}

.author-line {
  text-align: center;
  padding: 0px;
  margin: 0px;
}
